<nav class="col navbar navbar-light bg-light site-header py-0 navbar-expand-sm">
    <a class="navbar-brand mr-auto" href="{{ '/' | relative_url }}">
        {{ site.title | escape }}
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sitenav"
            aria-controls="sitenav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sitenav">
        <ul class="navbar-nav ml-auto">
        {% for group in site.data.navigation %}
            {%- assign title = group | first -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-sm-3 d-block" href="javascript:void(0);" role="button" id="{{ title[0] | escape }}Btn"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ title[0] | escape }}</a>
                <ul class="dropdown-menu" aria-labelledby="{{ title[0] | escape }}Btn">
                {% for elem in group offset:1 %}
                    <li><a class="nav-link dropdown-item" href="{{ elem[1] | relative_url }}">{{ elem[0] | escape }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>
